In this particular Assignment, you'll practice creating single-variable plots for categorical data.

In [1]:
# prerequisite package imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In this Assignmet, you'll be working with this dataset comprised of attributes of creatures in the video game series Pokémon.

In [2]:
pokemon = pd.read_csv('pokemon.csv')
pokemon.head()

   id     species  generation_id  ...  speed  special-attack  special-defense
0   1   bulbasaur              1  ...     45              65               65
1   2     ivysaur              1  ...     60              80               80
2   3    venusaur              1  ...     80             100              100
3   4  charmander              1  ...     65              60               50
4   5  charmeleon              1  ...     80              80               65

[5 rows x 14 columns]

**Task 1:** There have been quite a few Pokémon introduced over the series' history. How many were introduced in each generation? Create a bar chart of these frequencies using the 'generation_id' column.

In [ ]:
# YOUR CODE HERE

Once you've created your chart, check the output from our solution. Your visualization does not need to be exactly the same as ours, but it should be able to come up with the same conclusions.

![download.png]()

**Task 2:** Each Pokémon species has one or two 'types' that play a part in its offensive and defensive capabilities. How frequent is each type? The code below creates a new dataframe that puts all of the type counts in a single column.

In [5]:
pkmn_types = pokemon.melt(id_vars = ['id','species'], 
                          value_vars = ['type_1', 'type_2'], 
                          var_name = 'type_level', value_name = 'type').dropna()
pkmn_types.head()

   id     species type_level   type
0   1   bulbasaur     type_1  grass
1   2     ivysaur     type_1  grass
2   3    venusaur     type_1  grass
3   4  charmander     type_1   fire
4   5  charmeleon     type_1   fire

Your task is to use this dataframe to create a relative frequency plot of the proportion of Pokémon with each type, sorted from most frequent to least. Hint: The sum across bars should be greater than 100%, since many Pokémon have two types. Keep this in mind when considering a denominator to compute relative frequencies.

In [ ]:
# YOUR CODE HERE

Once you've created your chart, check the output from our solution. Your visualization does not need to be exactly the same as ours, but it should be able to come up with the same conclusions.

![download (1).png]()